[Desktop Entry]
Exec=exeCute %f
Icon=exeCute
MimeType=application/x-ms-dos-executable;text/plain
Name=exeCute
NoDisplay=true
StartupNotify=true
Type=Application
