[Desktop Entry]
Exec=exeCute %f
Icon=/usr/share/icons/hicolor/scalable/apps/exeCute.svg
MimeType=application/x-ms-dos-executable;text/x-msdos-batch
Name=exeCute
NoDisplay=true
StartupNotify=true
Type=Application
